node_modules/

.output/
.svelte-kit/
build/

.vercel/
.netlify/
.wrangler/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
