.git
.github
.DS_Store

node_modules
**/node_modules

target
**/target

.svelte-kit
**/.svelte-kit
build
**/build
.output
**/.output

test-results
playwright-report
blob-report
playwright/.cache
playwright/.auth

backend/db
**/*.db
**/*.db-shm
**/*.db-wal

frontend/.env
frontend/.env.*
!frontend/.env.example
!frontend/.env.test
